<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert-success {
  padding: 20px;
  background-color: red;
  color: white;
}
.button {
  font: bold 11px Arial;
  text-decoration: none;
  background-color: red;
  color: white;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin:45%
}
</style>
</head>
<body>
<div class="alert-success">

  <strong>Failed to submit the job!</strong> Try again after some time.
</div>
<a href="https://self-serve-profile-script.azurewebsites.net/" class="button">Back</a>

</body>
</html>
