<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
.alert-success {
  padding: 20px;
  background-color: green;
  color: white;
}
.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: green;
  color: white;
  padding: 5px 60px 5px 60px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  margin:45%;
 
}
</style>
</head>
<body>
<div class="alert-success" align="center">

  <strong>Successfully submitted the job!</strong> You will be notified via email once the output is ready.
</div><br>
<a href="https://self-serve-profile-script.azurewebsites.net/" class="button">Back</a>

</body>
</html>
